.container {
  width: 1100px;
  height: 100vh;
  margin: 0 auto;
  background-color: #ff9924;
}
.container nav h1 {
  font-size: 58px;
  padding-top: 20px;
  font-family: "Playfair Display", serif;
  font-style: italic;
}
.container nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 150px;
}
.container h2 {
  width: 50%;
  margin: 0 auto;
}
.container section {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}
.container footer {
  display: flex;
}
