.homepage {
  max-width: 50vw;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
/* NAV SECTION */
.homepage nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}
.homepage h1 {
  text-align: center;
  font-size: 54px;
  font-family: "Playfair Display", sans-serif;
}
/* MAIN SECTION */
.homepage main {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: rgba(234, 178, 8, 0.678);
}
.homepage main h2 {
  font-weight: normal;
  max-width: 50%;
  text-align: center;
}
.homepage main h2 {
  margin-bottom: 15px;
}
.homepage main h2 strong {
  font-weight: bold;
}
.homepage main button {
  border: none;
  padding: 5px;
  border-radius: 10%;
  box-shadow: 0 5px 0 #075985;
  color: white;
  font-size: 30px;
  background-color: #0284c7;
}
.homepage main button:first-child {
  margin-right: 10px;
}
.homepage main button:active {
  box-shadow: none;
  transform: translate(5px);
}

/* FOOTER SECTION */
.homepage footer {
  text-align: center;
  background-color: rgba(253, 230, 138, 0.486);
}
